body {
  background-color: black;
}

.jumbotron {
  background-image: url("concert.jpg");
  background-size: cover;
  background-position: bottom; 
  padding-bottom: 0;

}

.header {
  color: white;
  margin-top: 500px;
  text-align: center;
}


.form-inline {
  text-align: center;
}

.btn {
    background-color: rgb(237, 204, 14);
    color: black;
    font-weight: bold;
}

.music-output {
    padding-top: 20px;
}


.list-group-item {
  background-color: black;
  color: white;
  margin: 10px;
}
